head
  link(rel="stylesheet", href="/css/style.css")
body
  .view
    .logo
      h1 DevLib
    .links
      a(href="#") Main
      a(href="#") JS
      a(href="#") HTML/CSS
      a(href="#") Tools
    aside
      p This is the Devlib online library. We are pleased to present open source books for web development.
      br
      p Oh the Supreme Father! Oh the Source of the Universe! Oh the Father of the World, our Strength and Support! Oh compassionate Lord, Gracious to all! Oh the incomparable teacher outside of any tradition! Oh the Supreme Lord! Gracefully send down to us The gift of right thinking, So we can serve humanity And make this world a paradise. 
      br
      p - Dhirendra Brahmachari
    form(type="submit" name="submit")
      input(type="text" name="search")
      button(type="submit") Get Books!
    main.results

    block scripts
      script(src="/dist/App.bundle.js")