head
  link(rel="stylesheet", href="/css/style.css")
body
  .results-view
    .logo
      h1
        a(href="/") DevLib
    .links
      a(href="#") Main
      a(href="#") JS
      a(href="#") HTML/CSS
      a(href="#") Tools
    main.book-details
      .book-title
        h3= book.title
        h4= book.author
      .book-description
        p= book.description
        .book-link
          a(href= book.bookFile) Get
      .image-container(data-large= book.bookImage)
        img(src= book.bookSmallImage class="book-image")
        div(style="padding-bottom: 66.6%;")

    block scripts
      script(src="/dist/App.bundle.js")