/* Minimal Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: PT Mono;
  height: 100%;
  min-width: 320px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main Styles */

body {
  background: #000;
  color: #fff;
}

a,
a:link {
  color: #4dadf7;
  transition: all 0.1s ease-in;
  text-decoration: none;
}

a:hover,
a:link:hover {
  text-decoration: underline;
  color: #228ae6;
}

a:focus,
a:link:focus {
  outline: 1px dotted currentColor;
}

.home-view {
  display: grid;
  padding: 45px;
  grid-column-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 6fr;
  grid-template-areas:
    "logo links links"
    "aside main main"
    "aside main main";
}

.logo {
  grid-area: logo;
  margin-bottom: 2em;
}

.links {
  grid-area: links;
}

.links > * {
  margin-right: 1em;
}

aside {
  color: gray;
  font-size: 1em;
  grid-area: aside;
}

main {
  grid-area: main;
}

form {
  display: flex;
  margin: 0;
}

form input[type="text"] {
  flex: 1;
  color: inherit;
  background: inherit;
  border: 1px solid#0d84fa;
  font-family: PT Mono;
  margin-right: 0.5em;
  margin-bottom: 2em;
  height: 36px;
  font-size: 14px;
  line-height: 35px;
  padding: 0 12px;
}

button {
  cursor: pointer;
  background-color: #0d84fa;
  border: none;
  outline: none;
  height: 36px;
  font-size: 14px;
}

.results-title {
  display: flex;
  display: none;
}

.author-title {
  flex-basis: 40%;
}

.subject-title {
  flex-basis: 60%;
}

.search-result-item {
  display: flex;
  opacity: 0;
  padding: 1.5em 0;
  animation: 1s slideInRight ease-in-out forwards;
}

.search-result-item:hover {
  background: #04182c;
}

@keyframes slideInRight {
  0% {
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.book-result {
  flex-basis: 60%;
}

.author-result {
  flex-basis: 40%;
}

.results-length {
  margin-bottom: 1em;
  color: gray;
  font-size: 12px;
}

/* Results Page */

.results-view {
  display: grid;
  padding: 45px;
  grid-column-gap: 2em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 1fr;
  grid-template-areas:
    "logo links"
    "main main"
    "main main";
}

.book-details {
  display: grid;
  grid-column-gap: 2em;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "image title"
    "image description";
}

.image-container {
  grid-area: image;
  text-align: center;
}

.book-image {
  max-height: 500px;
  padding-bottom: 2em;
  object-fit: contain;
}

.book-title {
  text-align: center;
  grid-area: title;
}

.book-description {
  grid-area: description;
  text-align: justify;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.book-link {
  text-align: center;
}

@media (max-width: 700px) {
  aside {
    display: none;
  }
  .home-view {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo links"
      "main main"
      "main main";
  }
  .book-details {
    grid-template-rows: auto 70px 200px;
    grid-template-areas:
      "image"
      "title"
      "description";
  }
}
